<!DOCTYPE html>
<html lang="{{ site.plainwhite.html_lang }}">

<head>
  {%- include head.html -%}
</head>

<body>
  <main class="container">
    <section class="about">
      <div class="about-header {% if site.plainwhite.condensed_mobile contains page.layout %}condensed{% endif %}">
        <div class="about-title">
          <a href="{{ "/" | relative_url }}">
            {% if site.plainwhite.portfolio_image_dark and site.plainwhite.dark_mode %}
            <img class="light" src="{{ site.baseurl }}/{{ site.plainwhite.portfolio_image }}" alt="{{ site.plainwhite.name }}" />
            <img class="dark" src="{{ site.baseurl }}/{{ site.plainwhite.portfolio_image_dark }}" alt="{{ site.plainwhite.name }}" />
            {% else %}
            <img src="{{ site.baseurl }}/{{ site.plainwhite.portfolio_image }}" alt="{{ site.plainwhite.name }}" />
            {% endif %}
          </a>
          <h2 id="title">
            <a href="{{ "/" | relative_url }}">{{ site.plainwhite.name }}</a>
          </h2>
        </div>
        {%- if site.plainwhite.tagline -%}
        <p class="tagline">{{ site.plainwhite.tagline }}</p>
        {%- endif -%}
      </div>

      {%- if site.plainwhite.social_links != '' -%}
      <ul class="social about-footer {% if site.plainwhite.condensed_mobile contains page.layout %}condensed{% endif %}">
        {%- for platform, handle in site.plainwhite.social_links %}
        <a href="https://{{ platform }}.com/{{ handle }}" target="_blank">
          <li>
            <i class="icon-{{ platform }}-circled"></i>
          </li>
        </a>
        {%- endfor -%}
      </ul>
      {%- endif -%}

      {%- if site.plainwhite.navigation -%}
      <nav class="navigation about-footer {% if site.plainwhite.condensed_mobile contains page.layout %}condensed{% endif %}">
        <ul>
          {% for link in site.plainwhite.navigation %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {%- endif -%}
      
      <p class="about-footer {% if site.plainwhite.condensed_mobile contains page.layout %}condensed{% endif %}">&copy; {{ "now" | date: "%Y" }}</p>
      
      {%- if site.plainwhite.dark_mode -%}
      <div class="about-footer {% if site.plainwhite.condensed_mobile contains page.layout %}condensed{% endif %}">
        <p>Dark Mode
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" class="dark-mode-toggle">
            <span class="slider round" onclick="toggleDarkMode()"></span>
          </label>
        </p>
      </div>
      {%- endif -%}
    </section>

    <section class="content">
      {{ content }}
    </section>

    <footer class="{% if site.plainwhite.condensed_mobile contains page.layout %}condensed{% endif %}">
      {{ footer }}
    </footer>
  </main>

  {% if site.plainwhite.dark_mode %}
  <script type="text/javascript" src="{{ "/assets/js/darkmode.js" | relative_url }}"></script>
  {% endif %}

  {%- if site.plainwhite.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.plainwhite.analytics_id }}');
  </script>
  {%- endif -%}

  {% if site.plainwhite.search %}
  <script src="{{ "/assets/js/simple-jekyll-search.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/search.js" | relative_url }}"></script>
  {% endif %}
</body>

</html>
